.header{
    background-color: cornflowerblue;
    padding: 1%;
}

a:link {
    color: white;
  }

.tittle-page{
    color: whitesmoke;
}

.presentation{
    background-color: #7db6ee;
}

.summary-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.sum-pt1{
    width: auto;
    height: auto;
}

.performers{
    background-color: #c5bfbf;
}

.ex-title{
    text-align: center;
}

.blues-boy{
    width: 300px;
    height: 300px;
}

ul.img-list {
    list-style-type: none;
    text-align: center;
  }
  
  ul.img-list li {
    display: inline-block;
    height: 300px;
    margin: 0 1em 1em 0;
    position: relative;
    width: 300px;
  }
  
  span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: top;
  }

  ul.img-list li:hover span.text-content {
    opacity: 1;
  }

  span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 300px;
    left: 1;
    position: absolute;
    top: 0;
    width: 300px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
  } 