.header{
    background-color: cornflowerblue;
    padding: 1%;
}

a:link {
    color: white;
  }

.tittle-page{
    color: whitesmoke;
}

.presentation{
    background-color: #60adfa;
}

.sum-pt1{
    width: 265px;
    height: 350px;
}

.sum-pt2{
    width: 265px;
    height: 340px;
}